<!DOCTYPE html>
<html lang="zh-CN" ng-app="share">

	<head>
		<meta charset='utf-8' />
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/vue/1.0.14/vue.js"></script>
<script type="text/javascript">
	$(document).ajaxSuccess(function (event,data) {
		alert('success')
		alert(data.responseJSON)
	}).ajaxError(function (event) {
		alert('has error')
		alert(event)
	})
	$.post('','jj')
</script>
</head>
<body>
	hello
</body>
</html>
