<!DOCTYPE html>
<html lang="zh-CN" ng-app="share">

	<head>
		<meta charset='utf-8' />
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/vue/1.0.14/vue.js"></script>
<!--<script type="text/javascript">
	$(document).ajaxSuccess(function (event,data) {
		alert('success')
		alert(data.responseJSON)
	}).ajaxError(function (event) {
		alert('has error')
		alert(event)
	})
	$.post('','jj')
</script>-->
</head>
<body>
	<h1>Enjoy Science & Technology</h1>
	
	<p><a href="/accounts/regist/">注册</a>，让网站记录属于你的数据</p>
	<p>或者<a href="/accounts/login/">登陆</a></p>
	<p><a href="/share">share:</a>是一个在线文档系统。具备记录代码，数学公式等等能力，是我随时记录灵感和知识的好工具。当前只是作者自用。但是你也可以使用。登陆后可以使用。</p>
	<p><a href="/talk">talk:</a>简单至极的浏览器聊天，websocket练习时做的。我们公司不能上qq和微信，所以这个能和老婆免费聊天。为了方便，就不用登陆了。</p>
	
	
	
</body>
</html>
