{% load static %}
<!DOCTYPE html>
<html lang="zh-CN" ng-app="share">

        <head>
                <meta charset='utf-8' />
                <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/vue/1.0.14/vue.js"></script>
<script src='{% static "js/exfun.js" %}'></script>
<script src='{% static "js/fields.pack.js" %}'></script>
<!--<script type="text/javascript">
        $(document).ajaxSuccess(function (event,data) {
                alert('success')
                alert(data.responseJSON)
        }).ajaxError(function (event) {
                alert('has error')
                alert(event)
        })
        $.post('','jj')
</script>-->
<script type="text/javascript">
	$(function () {
		$.get('/ajax_error',proc_msg(function (data) {
			alert('jjyy')
		}))
	})
</script>
<script type="text/javascript">
       dd = $.get('http://d2-wallpaperv3.ticktockapps.com/res/image/category/Animals/2?app=wallpapersforiphone6s&device=iPhone8%2C1&devicesize=750x1334&ios=9.2.1&thumb=305x543&version=1.2')
</script>

</head>
<body>
        <h1>Enjoy Science & Technology</h1>
        

</body>
</html>

