<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset='utf-8' />
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="//cdn.bootcss.com/vue/1.0.24/vue.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script type="text/javascript">
			
			menu=[
				{icon:'<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>',label:'内容',active:true},
				{icon:'<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>',label:'设置'}
			]
			sub_menu=[{label:'菜单',link:'xxxx',},
					{label:'页面',link:'jjj',active:true}]
					
			$(function () {
				new Vue({
					el:'#content',
					data:{
						menus:[{label:'页面制作',show:true,actions:menu}],
						sub_menu:sub_menu
					},
					compiled:function () {
						$('#-spot-menu').height($(window).height())
						$(window).resize(function () {
							$('#-spot-menu').height($(window).height())
						})
					},
					methods:{
						menu_width:function (width) {
							$('#_content').css('margin-left',width)
						}
					}
				})
			})
		</script>
		<style type="text/css" media="screen" id="test">
			#-spot-menu{
				position: fixed;
			}
		</style>
	</head>
	<body>
		{% include 'mb_component.html' %}
		<div id='content'>
			<spot-menu id='-spot-menu' 
				@width-change='menu_width'
				:menus='menus'
				:sub_menu='sub_menu'></spot-menu>
			<div id='_content' >
				<div style='padding: 20px;'>
					<table class="table table-hover">
						<thead>
							<tr>
								<td style='width:50px'><input type="checkbox" name="test" value=""/></td>
								<td>标识名</td>
								<td>其他</td>
							</tr>
						</thead>
					<tbody>
						<tr>
							<td><input type="checkbox" name="test" value="" /></td>
							<td>ss</td>
							<td>sssg</td>
						</tr>
						<tr><td><input type="checkbox" name="test" value="" /></td>
							<td>ss</td>
							<td>sssg</td></tr>
					</tbody>
					</table>
				</div>
	
				<button name="test" type="button" value="val">add</button>
				<select name="" id=""></select>
			</div>
		</div>
		
	</body>
</html>