{% extends 'share/base.html' %}
{% block content %}

<script type="text/javascript">
	var post_url='';
	app.controller('content',function ($scope,$http,$sce,$location,ajax) {
		//$scope.index={
		//	parents:[],
		//	dir:{{crt_dir | safe}},
		//}
		//$scope.crt={
		//	crt:{{crt_dir | safe}},
		//	ps:{{ps | safe |default:"[]"}},
		//}

		//$scope.dir.ps.push($scope.dir.crt);
		$scope.parents=[]
		$scope.dir={{crt_dir | safe}}
		$scope.child_dirs={{dirs | safe}};
		$scope.child_files={{files | safe}};
		$scope.crt_file={};
		$scope.new_file={};
		$scope.crt={};
		$scope.trustAsHtml = function(string) {
		    return $sce.trustAsHtml(string);
		};
		$scope.submit=function (item,parent) {
			var postData = {
				//order:['save_link','get_link'],
				save_file:{item:item,p:parent},
				//get_link:{}
			}
			$http.post(post_url,postData)
				.success(function(data, status, headers, config) {  
					// 留言提交成功
					$scope.items=data.get_link.links;
					$scope.is_editing=false;
					$scope.add_new_ing=false;
				}).error(function(data, status, headers, config) {  
				    alert('有错误,返回码为:'+status)
				});
		}
		//$scope.show_content=function (item) {
		//	//$scope.crt_file = item;
		//	$location.path('file/'+item.pk)
		//};
		$scope.cancel=function () {
			$scope.edit_win='nothing';
		}
		$scope.$watch(function(){ return $location.path() }, function(nv){
			var rt = /file\/(\d+)/.exec(nv);
			if (rt){
				var pk = rt[1];
				var postData={
					file_data_all:{pk:pk},
				}
				ajax.post(post_url,postData,function (data) {
					$scope.crt_file=data.file_data_all.file
					$scope.parents=data.file_data_all.parents
					$scope.dir = data.file_data_all.dir
					$scope.child_dirs=data.file_data_all.sibling.dirs;
					$scope.child_files=data.file_data_all.sibling.files;
				})
			}
			
		   
		});

		$scope.add_new=function (v,file) {
			if(!v)return
			var postData = {
				add_file:{name:file.name,content:file.content,pid:$scope.dir.crt.id},
			}
			$http.post(post_url,postData)
				.success(function(data, status, headers, config) {  
					$scope.files.push(data.add_file);
					$scope.crt_file=data.add_file;
					$scope.edit_win='nothing';
					$scope.new_file={};
				}).error(function(data, status, headers, config) {  
				    $scope.std='有错误,返回码为:'+status;
				});
		};
		
		$scope.del=function () {
			var deldirs=[];
			for (x in $scope.dirs){
				if($scope.dirs[x].checked==true){
					deldirs.push($scope.dirs[x].id);
				}
			}
			var delfiles=[];
			for(y in $scope.files){
				if($scope.files[y].checked==true){
					delfiles.push($scope.files[y].id);
				}
			}
			var postData = {
				order:['del_dirs','del_files','get_files'],
				del_dirs:{ids:deldirs},
				del_files:{ids:delfiles},
				get_files:{did:$scope.dir.crt.id}
			}
			$http.post(post_url,postData)
				.success(function(data, status, headers, config) {  
					$scope.dirs=data.get_files.dirs;
					$scope.files=data.get_files.files;
					$scope.crt_file={};
				}).error(function(data, status, headers, config) {  
				    //处理错误 
				    $scope.std='有错误,返回码为:'+status;
				});
		};

		$scope.save =function (b,item) {
			if(b){
				$scope.submit(item,$scope.crt_dir);
			}
		};
		$scope.add_newDir=function (v,dir) {
			if (!v)return
			var postData = {
				add_dir:{name:dir.name,pid:$scope.dir.crt.id},
			}
			$http.post(post_url,postData)
				.success(function(data, status, headers, config) {  
					$scope.dirs.push(data.add_dir);
					$scope.edit_win='nothing';
				}).error(function(data, status, headers, config) {  
				    $scope.std='有错误,返回码为:'+status;
				});
		};
		
		$scope.rename_dir=function (v,dir) {
			//$scope.is_showNameWin =true;
			if(!v)return;
			var postData = {
				modify_dir:{name:dir.name,id:dir.id},
			}
			$http.post(post_url,postData)
				.success(function(data, status, headers, config) {  
					alert('修改成功');
					$scope.edit_win='nothing';
				}).error(function(data, status, headers, config) {  
				    //处理错误 
				    $scope.std='有错误,返回码为:'+status;
				});
		}
		$scope.tmp_name={};
		$scope.edit_win='nothing';
		$scope.set_editWin=function (win) {
			$scope.edit_win=win;
		};
		$scope.switch_dir = function (dir_pk) {
			var postData = {
				dir_data_all:{pk:dir_pk},
			}
			ajax.post(post_url,postData,function (data) {
				$scope.parents=data.dir_data_all.parents;
				$scope.dir=data.dir_data_all.dir;
				$scope.child_dirs=data.dir_data_all.child_dirs;
				$scope.child_files=data.dir_data_all.child_files;
			})
		};
		$scope.modify_file=function (v,file) {
			if (!v)return;
			var postData = {
				modify_file:{id:file.id,name:file.name,content:file.content},
			}
			$http.post(post_url,postData)
				.success(function(data, status, headers, config) {  
				var it = data.modify_file;
				$scope.crt_file.name=it.name;
				$scope.crt_file.content=it.content;
				$scope.edit_win='nothing';
				}).error(function(data, status, headers, config) {  
				    $scope.std='有错误,返回码为:'+status;
				});
		}
		$scope.check_crtFile=function () {
			if(typeof($scope.crt_file.name)=='undefined'){
				return false;
			}else{
				return true;
			}
		}
		//$scope.save_dir=function (b) {
		//	if(b){
		//		$scope.edit_dir($scope.new_dir);
		//	}
		//}
	})
	
</script>
<style type="text/css" media="screen" id="test">
	.nodot-li{
		padding-left:5px;
	}
	.nodot-li li{
		list-style-type:none;
	}
	.ctn-list{
		margin-top: 20px;
		width:20%;
		float: left;
		margin-left:30px;
	}
	.inn-wrap{
		padding-left:10%;
	}
	#ctn-sel{
		width:75%;
		/*margin-left:20%;*/
	}
	.head-sel{
		position: fixed;
		left:0;
		top:0;
		width:40px;
		font-size: 150%;
		text-align: center;
		background-color: #DDD;
		padding-top: 10px;
	}
	.head-icon{
		padding-top:10px;
		padding-bottom:10px;
	}
	.head-icon.active{
		background-color: white;
	}
	.ban-img{
		max-width:90%;
	}
</style>
<script type="text/javascript">
	function fit_height() {
		$('.head-sel').height($(window).height());
	}
	$(function () {
		fit_height();
		$(window).resize(function () {
			fit_height()
		})
		
	})
</script>
<div ng-controller='content'>
	<div>
		<div class='head-sel'>
			<div class='head-icon' ng-class='{"active":name=="dog"}' ng-click='name="dog"'>
				<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
			</div>
			<div class='head-icon' ng-class='{"active":name=="pig"}' ng-click='name="pig"'>
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</div>
		</div>
		<div class='ctn-list'>
			<div class='inn-wrap'>
		<!--<select id='ctn-sel' name="ss"  
			ng-model='crt.select' 
			ng-change='switch_dir(crt.select)'>
			<option value="[[p.pk]]" ng-repeat='p in parents'>[[p.name]]</option>
			<option value="[[dir.pk]]" >[[dir.name]]</option>
			</select>-->
		<div><span ng-repeat='d in parents'> 
			<a href="" ng-click='switch_dir(d.pk)' style='min-width:10px'>[[d.name]]</a>
			&gt;</span>
			<span ng-bind='dir.name'></span>
		</div>
		
		<div class='col-sm-12'>
			<ul class='nodot-li'>
				<li ng-repeat='item in child_dirs'>
					<input type="checkbox" name="test" value="" ng-model='item.checked'/>
					<span class="glyphicon glyphicon-folder-close" aria-hidden="true">
						
					</span>
					<a href="" ng-click='switch_dir(item.pk)'>
						<span ng-bind='item.name'></span>
					</a>
				</li>
				<li ng-repeat='item in child_files'>
					<input type="checkbox" name="test" value="" ng-model='item.checked'/>
					 <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
					<a ng-href="#/file/[[item.pk]]"><span ng-bind='item.name'></span></a>
				</li>  <!-- ng-click='show_content(item)'-->
		</ul>
		</div>
		</div>
		</div>
		<div class='col-md-9'>
			<button name="ssf" type="button" value="val" 
				ng-click='set_editWin("new_dir")'>新增文件夹</button>
			<button name="sg" type="button" value="val" 
				ng-click='set_editWin("rename")'>重命名文件夹</button>
			<button name="test" type="button" value="val" 
				ng-click='set_editWin("new_file")'>新增文件</button>
			<button name="test" type="button" value="val" 
				ng-click='set_editWin("modify")'>修改文件</button>
			<!--<edit-form item='link' submit='submit(link)' able='add_new_ing'></edit-form>-->
			
			<button name="test" type="button" value="val" 
				ng-click='del()'>删除选中项</button>
			<div style='padding-top:30px;'>
				
				<div ng-switch='edit_win'>
					
					<div ng-switch-when='nothing' >
						<div ng-show='check_crtFile()'>
							<h2 ng-bind='crt_file.name' 
								style='border-bottom: 1px solid #999;'></h2>
							<div ng-bind-html='trustAsHtml(crt_file.content)'></div>
						</div>
						
					</div>
					<div ng-switch-when='new_dir'>
						<span>新增文件夹</span>
						<name_form submit='add_newDir(valid,new_dir)' 
							item='new_dir'></name_form>
					</div>
					
					<div ng-switch-when='rename'>
						<span>重命名文件夹</span><name_form submit='rename_dir(valid,dir.crt)' item='dir.crt'></name_form>
					</div>
					<div ng-switch-when='new_file'>
						<span >新增文件</span>
						<edit-form submit='add_new(valid,file)' item='new_file' cancel='cancel()'></edit-form>
					</div>
					<div ng-switch-when='modify'>
						<span >修改文件</span>
						<edit-form submit='modify_file(valid,file)' item='crt_file' cancel='cancel()'></edit-form>		
						
					</div>
					
					
				</div>

			</div>

			
			
		</div>
	</div>
</div>



{% endblock %}