<!DOCTYPE html>
<html lang="zh-CN" ng-app="he">

	<head>
		<meta charset='utf-8' />
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-sanitize.min.js"></script>
		<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular-animate.min.js"></script>-->
		
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="//cdn.bootcss.com/vue/1.0.24/vue.js"></script>
		<title>{{title | default:'我的网络日志'}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script type="text/javascript">
			//var app = angular.module('he',['ngSanitize','ngAnimate']);
			//app.config(function($interpolateProvider) {
			//	  $interpolateProvider.startSymbol('$[[');
			//	  $interpolateProvider.endSymbol(']]^');
			//	});
		</script>
		<style type="text/css" media="screen" id="test">

			#head-out{
				min-height:100px;
			}
			#head{
				/*float: right;*/
				/*padding:0 5%;*/
				margin-top:40px;
				text-align: right;
				position: relative;
				margin-right:15%;
				padding: 30px;
			}

			/*#head-menu{
				
				display: inline-block;

			}*/
			.menu li{
				display: inline;
				padding: 10px;
			}
			.menu .active_menu{
				border-bottom: 2px solid red;
			}
			.menu a{
				text-decoration: none;
			}
		</style>
		{% for js in custom_js %}
			<script src="{{js}}"></script>
		{% endfor %}
		</head>
		<body >
		<div class='mycontainer' id='head-out'>
			<div id='head'>
				<img src="/static/image/enjoyst.svg" type="image/svg+xml" alt="" style='float:left;margin-top:-30px;width:200px;'>
				
				<ul class="menu" id='head-menu'>
					{% for menu in menus %}
					<li >
						<a href="/blog/index/{{menu.name}}"
							{% if menu.name == crt_cat %}
							class='active_menu'
							{% endif %}>
							{{menu.label}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% block content %}
			
		模板文件

		{% endblock %}

		</body>
		</html>