{% extends 'blog/base.html' %}
{% block content %}
{% for js in custom_js %}
	<script src="{{js}}"></script>
{% endfor %}

<script type="text/javascript">
	app.controller('head',function ($scope) {
		$scope.menus={{categorys | safe}}
		//$scope.content_url='{{content_url}}'
		//[
			//{name:'math',label:'数学',url:'/blog/index/math'},
			//{name:'science',label:'科技',url:'/blog/index/science'},
			//{name:'program',label:'编程',url:'/blog/index/program'},
			//{name:'common',label:'随笔',url:'/blog/index/common'}
		//]
		$scope.crt={
			name:'{{crt_cat.name}}',
			overname:'',
			is_active:function (menu) {
				return menu.name==this.name || menu.name==this.overname
			}
		}
	})
</script>
<style type="text/css" media="screen" id="test">
	@media (min-width: 1400px){
		.main-content{
			width:1000px;
			float: left;
			margin-right: 15px;
		}
		.side-content{
			width:300px;
			float: left;
		}
	}
	@media (min-width: 800px) and (max-width: 1400px){
		.main-content{
			width:75%;
			float: left;
			margin-right: 1%;
		}
		.side-content{
			width:23%;
			float: left;
		}
	}
	@media (max-width: 800px){
		.side-content{
			display: none;
		}
	}
	.mycontainer{
		float: left;
		position: relative;
		left: 50%;
	}
	.inncontainer{
		float: left;
		position: relative;
		left:-50%;
	}
	body{
		background-color: #eee;
	}
	.menu{
		padding: 20px;
	}
	#head{
		background-color: white;
		text-shadow: 2px 2px 2px #919187;
		border-bottom:1px solid #BEBEBE;
		margin-bottom: 20px;
		padding-top:20px;
		font-size: 200%;
	}
	#head_menu{
		margin-left:300px;
	}
	.menu li{
		display: inline;
		padding: 20px;
	}
	.menu a.active{
		border-bottom: 2px solid red;
		/*font-size: 150%;*/
	}
	.menu a{
		text-decoration: none;
	}
	#robot_dog{
		width:55px;
		position: absolute;
		left:10%;
		top:25px;
	}
	.article{
		padding: 20px;
		min-height:200px;
		background-color: white;
		margin-bottom: 10px;
		border-bottom:1px solid #FFD306;
		border-radius:5px;
	}
	.info_panel{
		min-height:200px;
		background-color: white;
		border-radius:5px;
		margin-bottom:10px;
		border: 1px solid #BEBEBE;
	}
	.info_head{
		border-bottom: 1px solid #999; 
		text-align: center;
	}
</style>
<div id='head'>
	<div  ng-controller='head' class='container'>
		<img id='robot_dog' src="/static/image/robot_dog.png" title="robot dog" >
		<ul class="menu" id='head_menu' >
			<!--<div >-->
				
			<!--</div>-->
			
			<li ng-repeat='menu in menus' >
				<a ng-href="/blog/content/[[menu.name]]"
					ng-class='{"active":crt.is_active(menu)}'
					ng-click='crt.name=menu.name'
					ng-mouseover='crt.overname=menu.name'
					ng-mouseleave='crt.overname=""'><span ng-bind='menu.label'></span></a>
			</li>
		</ul>
	</div>
</div>


<div class='mycontainer'>
	<div class='inncontainer'>
		<div class='main-content'>
		{% block art_content %}
			{% for art in articles %}
				<div >
					<div class='article'>
						<h2 class='art_title'>{{art.title}}</h2>
						<hr>
						<div>{{art.content | safe |truncatechars_html:200}}</div>
						<div style='text-align: right;'><a href='/blog/content/{{crt_cat.name}}/{{art.name}}'>View Detail</a></div>
					</div>
					
				</div>
			{% endfor %}
		{% endblock %}
		</div>
		<div class='side-content' >
			<div class='info_panel'>
				林哥的唠叨
			</div>
			<div class='info_panel'>
				<div class='info_head'>
					标签
				</div>
				{% for tag in tags %}
				<a class="btn btn-default" href="#" role="button">{{tag.name}}</a>
					
				{% endfor %}
			</div>
		</div>
		
	</div>

</div>


<div id='footer' style='min-height:200px'>
	
</div>
{% endblock %}