{% extends 'blog/base.html' %}
{% block content %}
{% for js in custom_js %}
	<script src="{{js}}"></script>
{% endfor %}

<script type="text/javascript">
	app.controller('head',function ($scope) {
		$scope.menus={{categorys | safe}}
		//$scope.content_url='{{content_url}}'
		//[
			//{name:'math',label:'数学',url:'/blog/index/math'},
			//{name:'science',label:'科技',url:'/blog/index/science'},
			//{name:'program',label:'编程',url:'/blog/index/program'},
			//{name:'common',label:'随笔',url:'/blog/index/common'}
		//]
		$scope.crt={
			name:'{{crt_cat.name}}',
			overname:'',
			is_active:function (menu) {
				return menu.name==this.name || menu.name==this.overname
			}
		}
	})
	$(function () {
		
		
	})
</script>
<style type="text/css" media="screen" id="test">
	@media (min-width: 1400px){
		.main-content{
			width:1000px;
			float: left;
			margin-right: 15px;
		}
		.side-content{
			width:280px;
			float: left;
		}
		.mycontainer{
			width:1300px;
			margin: 0 auto;
			/*float: left;
			position: relative;
			left: 50%;*/
		}

	}
	@media (min-width: 800px) and (max-width: 1400px){
		.mycontainer{
			width:95%;
			margin: 0 auto;
		}
		.main-content{
			width:75%;
			float: left;
			margin-right: 1%;
			margin-left:1%;
		}
		.side-content{
			width:22%;
			float: left;
			margin-right:1%;
		}
	}
	@media (max-width: 800px){
		.mycontainer{
			width:95%;
			margin: 0 auto;
		}
		.side-content{
			display: none;
		}
	}
	.ban-img{
			max-width:95%;
			height: auto;
		}

	body{
		background-color: #FAFAFA;
		/*position: relative;*/
		/*padding-bottom: 200px;*/
		
	}
	/*.menu{
		padding: 20px;
	}*/
	#head{
		min-height:70px;
		/*background-color: white;*/
		
		/*border-bottom:1px solid #EEEEE0;*/
		/*min-height:50px;*/
		/*margin-bottom: 40px;*/
		/*padding-top:0px;*/
		/*font-size: 100%;*/
		/*float: left;
		left:50%;*/
	}
	/*#head_menu{
		margin-left:300px;
	}*/
	.menu{
		/*float: right;*/
		/*clear: both;*/
		margin-top:20px;
		/*min-height:60px;*/
		/*text-shadow: 2px 2px 2px #919187;*/
		/*margin-right:10%;*/
		/*max-width:50%;*/
		/*float: left;*/
		/*left:-50%;*/
		/*margin: 0 auto;*/
		/*text-align:center;*/
		float: right;
		margin-right:20%;
	}
	.menu li{
		display: inline;
		padding: 10px;
	}
	.menu a.active{
		border-bottom: 2px solid red;
		/*font-size: 150%;*/
	}
	.menu a{
		text-decoration: none;
	}
	#robot_dog{
		width:70px;
		margin: 0 auto;
		display: block;
		/*float: left;*/
	}
	.article{
		padding: 20px;
		min-height:200px;
		background-color: white;
		margin-bottom: 20px;
		/*border-bottom:1px solid #FFD306;*/
		border-radius:5px;
	}
	.side-content{
		background-color: white;
		border-radius:5px;
	}
	.info_panel{
		min-height:200px;
		/*background-color: #eee;*/
		
		margin-bottom:10px;
		padding: 10px;
		/*border: 1px solid #BEBEBE;*/
	}
	.info_head{
		border-bottom: 1px solid #999; 
		/*text-align: center;*/
		font-size:120%;
		margin-bottom:10px;
	}
	/*.slogan{
		float: left;
		text-align:center;
		font-size:150%;
		margin-left:20%;
		margin-right:20%;
		padding-top: 20px;
	}*/
	/*.log{
		float:left;
		margin-left:30%;
		width:50px;
	}*/
</style>
<div>
	<div  ng-controller='head' id='head'>
		
		<ul class="menu" id='head_menu' >
			<!--<div >-->
				
			<!--</div>-->
			
			<li ng-repeat='menu in menus' >
				<a ng-href="/blog/content/[[menu.name]]"
					ng-class='{"active":crt.is_active(menu)}'
					ng-click='crt.name=menu.name'
					ng-mouseover='crt.overname=menu.name'
					ng-mouseleave='crt.overname=""'><span ng-bind='menu.label'></span></a>
			</li>
		</ul>
		
		<!--<div class='log'>
			<img id='robot_dog' src="/static/image/robot_dog.png" title="robot dog" >
		</div>-->
	</div>
</div>


	<div class='mycontainer'>
		<div class='main-content'>
		{% block art_content %}
			{% for art in articles %}
				<div >
					<div class='article'>
						<h3 class='art_title'>{{art.title}}</h3>
						<hr>
						<div>{{art.content | safe |truncatechars_html:200}}</div>
						<div style='text-align: right;'><a href='/blog/content/{{crt_cat.name}}/{{art.name}}'>View Detail</a></div>
					</div>
					
				</div>
			{% endfor %}
		{% endblock %}
		</div>
		<div class='side-content' >
			<div class='info_panel'>
				
				<img id='robot_dog' src="/static/image/robot_dog.png" title="robot dog" >
					<p>Me:heyulin</p>
				<p>不断努力，不断前行，就是人生的意义。</p>
			</div>
			<div class='info_panel'>
				<div class='info_head'>
					标签
				</div>
				{% for tag in tags %}
				<a class="btn btn-default" href="#" role="button">{{tag.name}}</a>
					
				{% endfor %}
			</div>
			
			{% block index %}
			{% endblock %}
		</div>
		
	</div>





<div id='footer' style='min-height:200px;clear: both;'>
	
</div>
{% endblock %}